header h1 {
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
	font-size: 70px;
	text-align: center;
	color: #002b36;
}

html {
	background-color: #fdf6e3;
}

main {
	width: 100%;
}

#sketch-holder {
	/*width: 60%;
	height: 625px;*/

}

.sketch {
	width: 90%;
	margin: 0 auto;
}

#alpha {
	margin:auto !important;
	display: block;
}

@media only screen and (min-width : 640px ){
.sketch {
	width: 60%;
	margin: 0 auto;
}
}
