header h1 {
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
	font-size: 70px;
	text-align: center;
	color: #002b36;
}

html {
	background-color: #fdf6e3;
}

#sketch-holder {
	width: 700px;
	height: 600px;
	margin: auto;
}