header h1 {
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
	font-size: 70px;
	text-align: center;
	color: #002b36;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top:0px;
	margin-bottom:0px;
}

header {
	width: 100%;
	background: #fdf6e3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

html {
	background-color: #eee8d5;
	padding: 0px;
}

body {
	padding: 0px;
	margin: 0px;
	font: normal 18px 'Open Sans', sans-serif;
}

main {
	width: 100%;
}

nav {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
	flex-grow: 1;
  text-align: center;
  padding: 1em;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
	right:0;
  height: 2px;
  transform: scaleX(0);
  background: #333;
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after{
  transform: scaleX(1)
}

#sketch-holder {
	/*width: 60%;
	height: 625px;*/

}

.sketch {
	width: 90%;
	margin: 0 auto;
}

#alpha {
	margin:auto !important;
	display: block;
}

@media only screen and (min-width : 640px ){
.sketch {
	width: 60%;
	margin: 0 auto;
}
}
